:root{
  --blue-dark: #071B3A;
  --blue-medium: #0B2A58;
  --blue-light: #BFD6F0;
  --white: #F5F7FB;
  --blue-medio: #5a80ab;
}

*{ margin:0; padding:0; box-sizing:border-box; }
html, body{ height:100%; }

body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--blue-dark);
  overflow-x: hidden;
}

/* ===== BLOCO BASE ===== */
.block{
  width: 100%;
  min-height: 100svh;
  display: grid;
  place-items: center;
  position: relative;
  padding: 24px;
}

/* ===== BLOCO 1: CAPA FULLSCREEN ===== */
.block--cover{
  min-height: 100vh;
  min-height: 100svh;

  background:
    url("imagens/Captura de tela 2026-02-21 100445.png") center center no-repeat,
    linear-gradient(180deg, var(--blue-dark), var(--blue-medium));

  background-size: cover; 
  background-color: var(--blue-dark);
}

.cover-logo{
  width: 100vw;
  height: 100vh;   
  height: 100svh;  
  object-fit: cover;
  object-position: center; 
  display: block;
}

/* ===== BLOCO 2: CONTEÚDO (AZUL CLARO) ===== */
.block--content{
  background: var(--blue-light);
  align-items: start;
  padding-top: 72px;

  padding-bottom: 180px;
}

.content-header{
  width: min(920px, 100%);
  text-align: center;
  position: relative;
  z-index: 1;
}

.brand{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(44px, 10vw, 88px);
  color: var(--blue-dark);
  letter-spacing: 2px;
  line-height: 1;
}

.tabs-grid{
  width: min(1000px, 92%);
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.tab{
  display: grid;
  place-items: center;
  text-align: center;

  padding: 20px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 700;

  color: var(--blue-dark);
  background: var(--blue-medio);
  border: 1px solid rgba(11,42,88,.15);
}

.tab-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tab-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--blue-dark);
}

/* ===== BLOCO 3: FUNDO AZUL ESCURO + QUADRADO AZUL CLARO NO CENTRO ===== */

.tipo3{
  font-size: clamp(32px, 5vw, 60px);
  text-align: center;                                
  color: var(--blue-dark); 
}

.tab-title3{
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  color: var(--blue-dark);
}

.tab-text3 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.block--grid-section{
  width: 100%;
  background: linear-gradient(180deg, var(--blue-dark), var(--blue-medium));
  padding: 140px 0;
}

.grid-box{
  width: min(1100px, 90%);
  margin: 0 auto;

  background: var(--blue-light);
  border-radius: 18px;

  padding: 80px 60px;
}

@media (max-width: 720px){
  .tabs-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .tabs-grid .tab:last-child{
    grid-column: 1 / -1;
  }

  .grid-box{
    padding: 60px 30px; 
  }
}